<div class="col-5" style="text-align: center;">
    <input name="q" class="form-control form-control-lg" id="q" placeholder="Search in PriceGram"
        value="<%=q%>">
    <div class="text-left">
        <ul class="list-group" id="r" style="display: none">
            <a class="list-group-item list-group-item-action list-group-item-light" id="r1">
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light"
                id="r2"></a>
            <a class="list-group-item list-group-item-action list-group-item-light"
                id="r3"></a>
            <a class="list-group-item list-group-item-action list-group-item-light"
                id="r4"></a>
            <a class="list-group-item list-group-item-action list-group-item-light"
                id="r5"></a>
            <a class="list-group-item list-group-item-action list-group-item-light"
                id="r6"></a>
        </ul>
    </div>
</div>